<!DOCTYPE html>
<html>
<head>
    <title>快递员信息表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:courier:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:courier:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:courier:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">快递员姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.courierName" placeholder="快递员姓名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.cardId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.phone" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.bankCardId" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户行名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.depositBank" placeholder="开户行名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">联行号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.joinBankNumber" placeholder="联行号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">入职时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.entryDate" placeholder="入职时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">离职时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.leaveDate" placeholder="离职时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">1:已绑定第三方 0:未绑定第三方</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.status" placeholder="1:已绑定第三方 0:未绑定第三方"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.comment" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">ERP账号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.erpId" placeholder="ERP账号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">片区</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.area" placeholder="片区"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">站点</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.site" placeholder="站点"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">合同id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.pactId" placeholder="合同id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">城市id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.cityId" placeholder="城市id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.creater" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.createDate" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.modify" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.modifyDate" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">1:删除0:正常</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="courier.isDelete" placeholder="1:删除0:正常"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/courier.js?_${.now?long}"></script>
</body>
</html>