<!DOCTYPE html>
<html>
<head>
    <title>配送信息表</title>
		<#include "/header.html">
    <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.courierName" @keyup.enter="query" placeholder="输入配送员姓名">
            </div>
            <div class="form-group col-sm-2">
                <input type="month" class="form-control" v-model="q.month"  placeholder="时间"/>
            </div>
            <a class="btn btn-default" @click="query">查询</a>

            <a class="btn btn-primary" @click="down"><i class="fa fa-download"></i>&nbsp;下载导入模板</a>
            <a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;导入</a>
            <a class="btn btn-primary" @click="exportFile"><i class="fa fa-plus"></i>&nbsp;导出</a>

            <!--<#if shiro.hasPermission("sys:dispatchinfo:save")>-->
            <!--<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
			<!--</#if>-->
			<!--<#if shiro.hasPermission("sys:dispatchinfo:update")>-->
            <!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
			<!--</#if>-->
			<#if shiro.hasPermission("sys:dispatchinfo:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">月份</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.month" placeholder="月份"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">快递员id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.courierId" placeholder="快递员id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.allOrderTotal" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.countOrderTotal" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">大件</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.large" placeholder="大件"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.small" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">三同</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.thrIdentical" placeholder="三同"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">售后取件</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.afterSale" placeholder="售后取件"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商家接货</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.sellerPick" placeholder="商家接货"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">工资</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.salary" placeholder="工资"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.creater" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.createDate" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.modify" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.modifyDate" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">1:删除0：正常</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dispatchInfo.isDelete" placeholder="1:删除0：正常"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/dispatchinfo.js?_${.now?long}"></script>
</body>
</html>